@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --brand-orange: #f39136;
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.login-inputs {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 10px;
  outline-color: var(--brand-orange);
}

/* .sidenav div {
  transition: 1s;
} */

.sidenav .active {
  margin-left: 35px;
  transition: 0.5s;
  background-color: var(--brand-orange);
  color: white;
  cursor: pointer;
  pointer-events: none;
}

.sidenav div:hover {
  margin-left: 10px;
  transition: 0.3s;
}

.sidenav .active :hover {
  margin-left: 0;
}
