@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --brand-orange: #f39136;
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .sidenav div {
  transition: 1s;
} */

.sidenav .active {
  margin-left: 35px;
  transition: 0.5s;
  background-color: rgba(243, 145, 54, 0.2);
  color: #f39136;
  cursor: pointer;
  pointer-events: none;
}

.sidenav div:hover {
  margin-left: 10px;
  transition: 0.3s;
}

.sidenav .active :hover {
  margin-left: 0;
}

.employee-action-btn:hover{
  transition: 0.3s;
  translate: scale(0.2);
}

.person-action-btn:hover{
  background-color: rgba(243, 145, 54, 0.2);
  color: #f39136;
  color: rgb(243, 145, 54);
}